.react-pdf__Page__canvas
{
    margin-top: 700px;
    display: block; 
    user-select: none;
    
    height: 400px;
}
.react-pdf__Document
{
    height: 500px;
    
}

/* ResumeViewer.css */

.resume-viewer-container {
    margin-top: 20px;
  }
  
  .comment-button {
    margin-bottom: 10px;
  }
  
  .comments-section {
    margin-top: 200px;
  }
  
  .comment-input {
    margin-bottom: 10px;
  }
  